* {
    box-sizing: border-box;
    padding: 0;
    outline: 0;
    border: 0;
    overflow: hidden;
    margin: 0;
    user-select: none;
    touch-action: none;
}

canvas {
    border: solid 1px black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@font-face {
    font-family: 'DISDAFONT';
    src: 'fonty.otf' format('truetype');
    font-weight: normal;
    font-style: normal;
}